@use "../../../../styles/mixins" as *;

.hero {
  width: 100%;
  aspect-ratio: 9 / 16;

  background-image: url(/images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include flex-column-center;
  @include inline-padding;
  padding-bottom: 14.47rem;

  @include onTablet {
    background-image: url(/images/desktop__hero_background.PNG);
    padding-bottom: 0;
    width: 100%;
    height: auto;
    background-position: center top;
    aspect-ratio: auto;
  }

  &__header {
    width: 100%;
    padding-top: 24px;

    display: flex;
    justify-content: end;
  }

  &__content {
    @include flex-column-center;

    @include onTablet {
      width: 100%;
      align-items: start;
      gap: 3.04rem;
      margin-top: 4.17rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 100%;
    color: #ffffff;
    font-weight: 400;
    font-size: 9.6rem;
    line-height: 1;
    position: relative;
    z-index: 5;
    font-style: italic;
    letter-spacing: -0.3rem;

    @include onTablet {
      font-size: 10rem;
      order: 2;
    }

    &-content {
      margin-left: 8.26rem;
      width: fit-content;

      @include onTablet {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
      }
    }

    &--top,
    &--bottom {
      display: flex;
      align-items: baseline; /* ВИРІВНЮВАННЯ БУКВ ПО ОДНІЙ ЛІНІЇ */
      position: relative;
    }

    &--top {
      margin-left: 10.5rem;
      margin-bottom: -3rem; /* Регулюйте відстань між MAKEUP та START тут */
      z-index: 2;

      @include onTablet {
        margin-left: 0;
      }
    }

    &--bottom {
      z-index: 1;
    }

    &-letter {
      font-family: "Nyght Serif", serif;
      font-size: 14.93rem;
      font-weight: 300;
      font-style: italic;
      line-height: 1;
      display: inline-block;

      @include onTablet {
        font-size: 16.81rem;
      }
    }
  }

  &__text,
  &__text-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.22;
    color: #ffffff;
    text-transform: lowercase;
    letter-spacing: -0.03em;

    &-title {
      position: absolute;
      top: 21.54rem;
      right: 0;
      font-style: italic;
      line-height: 20px;

      @include onTablet {
        display: none;
      }
    }

    @include onTablet {
      font-size: 1.11rem;
      text-align: left;
    }
  }

  &__description {
    padding-top: 32px;
    @include flex-column-center;
    gap: 6.67rem;

    &-top {
      display: none;
      margin-bottom: 4rem;
      font-size: 1.39rem;
      font-style: italic;
      font-weight: 500;
      text-decoration: underline;
      color: #ffffff;

      @include onTablet {
        display: block;
      }
    }

    @include onTablet {
      width: 25%;
      gap: 1.39rem;
      align-items: start;
    }
  }

  &__button {
    padding: 4.26rem 8.52rem;
    border: 1px solid #ffffff;
    border-radius: 100rem;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 4.26rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: none;

    @include onTablet {
      padding: 1.51rem 2.57rem;
      font-size: 1.11rem;
      background-color: #420000;
      border: 0;
    }
  }
}
