@import "../../../../styles/mixins";

.hero {
  height: 100vh;
  background-image: url(../../../../../public/images/hero-imade.jpg);
  background-size: cover;
  background-position: center;

  @include flex-column-center;

  @include inline-padding;
  padding-bottom: 64px;

  &__header {
    width: 100%;
    padding-top: 24px;

    display: flex;
    justify-content: end;

    &-title {
      font-weight: 400;
    }
  }

  &__content {
    @include flex-column-center;
    margin-top: auto;
  }

  &__top {
    position: relative;
    width: 100%;
    @include flex-column-center;
  }

  &__title {
    display: flex;
    align-items: end;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1;
    width: 100%;
    max-width: 320px;
    font-family: "Tinos", serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;

    &--left {
      align-self: flex-start;
      text-align: left;
      font-style: italic;
    }

    &--right {
      align-self: flex-end;
      text-align: right;
      margin-left: 24px;
      font-style: italic;
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 12px;
    }

    &-letter {
      display: inline-block;
      font-size: 64px;
      line-height: 64px;
      font-weight: 400;
      font-style: normal;
    }
  }

  &__text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-transform: lowercase;
    font-family: "Arimo", sans-serif;
    max-width: 400px;
  }

  &__button {
    padding: 1rem 2rem;
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: none;
  }
}
