@use "../../../../styles/mixins" as *;

.hero {
  height: 100vh;
  background-image: url(/images/hero-image.jpg);
  background-size: cover;
  background-position: center;

  @include flex-column-center;

  @include inline-padding;
  padding-bottom: 64px;

  &__header {
    width: 100%;
    padding-top: 24px;

    display: flex;
    justify-content: end;
  }

  &__content {
    @include flex-column-center;
    margin-top: auto;
  }

  &__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 100%;
    font-family: "Tinos", serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 9.6rem;
    font-style: italic;
    position: relative;

    &-content {
      margin-left: 4.26rem;
      width: fit-content;
    }

    &--top {
      margin-left: 10.5rem;
      margin-bottom: -6rem;

      position: relative;
      z-index: 2;
      display: flex;
      align-items: end;
    }

    &--bottom {
      position: relative;
      z-index: 1;
    }

    &-letter {
      display: inline-block;
      font-size: 14.93rem;
      line-height: 1;
      font-weight: 400;
      font-style: normal;
      vertical-align: baseline;
      margin-bottom: -0.3rem;
    }
  }

  &__text,
  &__text-title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
    text-transform: lowercase;
    font-family: "Arimo", sans-serif;

    &-title {
      position: absolute;
      bottom: 1rem;
      right: 0;
      font-style: italic;
      line-height: 20px;
    }
  }

  &__description {
    padding-top: 32px;
    @include flex-column-center;
    gap: 40px;
  }

  &__button {
    padding: 4.26rem 8.52rem;
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: none;
  }
}
