@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin inline-padding {
  padding-inline: 24px;

  @include onTablet {
    padding-inline: 36px;
  }
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
