@use "../../../../styles/mixins" as *;

.makeup-for-who {
  padding-top: 21.33rem; // 80 / 3.75
  padding-bottom: 26rem;
  @include inline-padding;
  background-color: #F5F5F5;

  @include onTablet {
    padding-top: 26.66rem; // 100 / 3.75
  }

  @include onDesktop {
    padding-top: 34.13rem; // 128 / 3.75
  }

  &__container {
    max-width: 320rem; // 1200 / 3.75
    margin: 0 auto;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      align-items: start;
    }
  }

  &__list {
    position: relative;

    @include onTablet {
      grid-column: 3 / 5;
      grid-row: 1;
    }
  }

  &__card {
    position: sticky;
    background-color: #fff;
    border: 0.26rem solid #d1d5db; // 1 / 3.75 (майже волосина)
    padding: 6.67rem; // 32 / 3.75
    margin-bottom: 6.4rem; // 24 / 3.75
    box-shadow: 0 1.06rem 1.6rem -0.26rem rgba(0, 0, 0, 0.1); // 4 / 3.75, 6 / 3.75, -1 / 3.75
    transition: transform 0.3s ease;

    @include onTablet {
      position: static;
      padding: 1.74rem; // 40 / 3.75
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    gap: 4.26rem; // 16 / 3.75
  }

  &__card-header {
    display: flex;
    align-items: flex-start;
    gap: 13.06rem; // 24 / 3.75
  }

  &__card-number {
    font-size: 4rem; // Залишив як було (якщо це rem)
    color: #9ca3af;
    font-weight: 300;
    line-height: 1;

    @include onTablet {
      font-size: 3rem;
    }
  }

  &__card-title {
    font-size: 4.8rem; // Залишив (це rem)
    font-weight: 700;
    line-height: 1.2;
    flex: 1;
    text-align: end;

    @include onTablet {
      font-size: 1.25rem;
    }

    @include onDesktop {
      font-size: 1.5rem;
    }
  }

  &__card-description {
    color: #4b5563;
    font-size: 4rem;
    line-height: 1.6;

    @include onTablet {
      padding-left: 21.33rem; // 80 / 3.75
      font-size: 1rem;
    }
  }

  &__cta {
    margin-top: 12.8rem; // 48 / 3.75
    text-align: center;

    @include onTablet {
      grid-column: 1 / 3;
      grid-row: 1;
      align-self: end;
      text-align: left;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 3.2rem; // 12 / 3.75
    background-color: #420000;
    border: 1px solid #ffffff;
    color: #fff;
    padding: 4.26rem 8.53rem; // 16 / 3.75, 32 / 3.75
    border-radius: 266.66rem; // 9999 / 3.75
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 4.27rem;

    &:hover {
      background-color: #3d0f14;

      .makeup-for-who__button-icon {
        transform: translateX(1.33rem); // 5 / 3.75
      }
    }

    &-icon {
      transition: transform 0.3s ease;
    }
  }
}
