@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.makeup-for-who {
  padding: 21.33rem 0;
  @include inline-padding;
  background-color: $color-bg-light;

  @include onTablet {
    padding-top: 9.72rem;
    padding-bottom: 6.94rem;
  }

  &__container {
    max-width: 320rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr min-content;
      gap: 0 4rem;
      align-items: stretch;
    }
  }

  &__sidebar {
    @include onTablet {
      grid-column: 1 / 3;
      grid-row: 1;
      position: relative;
    }

    header {
      position: relative !important;

      @include onTablet {
        position: sticky !important;
        top: 10rem;
        margin-bottom: 5rem;
      }
    }
  }

  &__list {
    @include flex-center;
    gap: 4rem;
    
    @include onTablet {
      margin: 0;
      grid-column: 3 / 5;
      grid-row: 1 / 3;
      gap: 1.04rem;
    }
  }

  &__cta {
    margin-top: 5rem;
    text-align: center;

    @include onTablet {
      grid-column: 1 / 3;
      grid-row: 2;
      text-align: left;
      align-self: end;
      margin-top: 0;
    }
  }

  &__card {
    @include card-style(6.67rem);
    position: sticky;
    top: calc(10rem + (var(--index) * 4rem));
    display: flex;
    gap: 13.06rem;
    border: 0.26rem solid $color-gray-light;

    @include onTablet {
      position: static;
      gap: 13.06rem; 
    }

    &-number {
      color: #9ca3af;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 5.33rem;
      @include onTablet { gap: 1rem; }
    }

    &-title {
      @include fluid-text(4.8rem, 1.39rem);
      font-weight: 700;
      text-align: right;
      @include onTablet { text-align: left; }
    }

    &-description {
      color: $color-gray-dark;
      margin-left: -18rem;
      line-height: 1.12;
      font-weight: 400;

      @include onTablet { margin-left: 0; }
    }
  }
}