.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background-color: aqua;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.3s;

  &-open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
}
