@use "../../styles/mixins" as *;

.section-header {
  margin-bottom: 9.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.26rem;
  top: 0;

  text-align: center;
  align-items: center;

  @include onTablet {
    position: relative;
    flex-direction: row;
    gap: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    justify-content: flex-start; 
    margin: 0;
  }

  &__subtitle {
    font-family: "The Nautigal", cursive;
    font-style: italic;
    font-size: 10.66rem;
    color: #d1d5db;
    width: 100%;
    text-align: center;

    @include onTablet {
      font-size: 3rem;
      width: fit-content;
      position: absolute;
      inset: auto 0% 0% auto;
    }

    @include onDesktop {
      font-size: 4rem;
    }
  }

  &__title {
    font-size: 9.6rem;
    font-weight: 700;
    margin-bottom: 2.13rem;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    
    align-items: center;
    width: 100%;

    @include onTablet {
      font-size: 4.51rem;
      margin-bottom: 0px;

      &--center {
        align-items: center;
      }

      &--left {
        align-items: start;
      }
    }

    @include onDesktop {
      font-size: 3.75rem;
    }

    &--sub {
      font-weight: 400;
      font-size: 8rem;
      font-style: normal;

      @include onTablet {
        font-size: 3.82rem;
      }

      @include onDesktop {
        font-size: 2.5rem;
      }
    }
  }
}