@use "../../styles/mixins" as *;

.section-header {
  text-align: center;
  margin-bottom: 9.6rem; // Вже було в rem
  @include flex-column-center;
  gap: 0.26rem; // 1px (якщо 1rem був 3.75) або залиш 1rem, якщо це 3.75px
  justify-content: space-between;
  top: 0; // Або висота вашої навігації

  @include onTablet {
    position: relative;
    flex-direction: row;
    gap: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: left;
  }

    &__subtitle {
    font-family: "The Nautigal", cursive;
    font-style: italic;
    font-size: 10.66rem; // Вже в rem
    color: #d1d5db;
    width: 100%;
    text-align: center;

    @include onTablet {
      order: 2;
      font-size: 3rem; // Перевірте, чи це не 3*3.75=11.25px
      margin-bottom: -6.4rem; // -24 / 3.75
    }

    @include onDesktop {
      font-size: 4rem;
      margin-bottom: -14.93rem; // -56 / 3.75
    }
  }

  &__title {
    font-size: 9.6rem; // Вже в rem
    font-weight: 700;
    margin-bottom: 2.13rem; // 8 / 3.75
    text-transform: uppercase;
    font-style: italic;
    @include flex-column-center;
    white-space: nowrap;

    @include onTablet {
      align-items: start;
      margin-bottom: 0px;
    }

    @include onDesktop {
      font-size: 3.75rem;
    }

    &--sub {
      font-weight: 400;
      font-size: 8rem;
      font-style: normal;

      @include onDesktop {
        font-size: 2.5rem;
      }
    }
  }
}
