@use "../src/styles/variables" as *;
@use "../src/styles/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { font-size: 1vw; }

html, body {
  max-width: 100%;
  overflow-x: hidden; 
  position: relative;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.12;
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
  @include fluid-text(4rem, 1.11rem);
}

svg {
  @include fluid-text(5.33rem, 1.12rem);
  width: 1em;
  height: 1em;

  @include onTablet {
    width: 2.60rem;
    height: 2.60rem;
  }
}

.text_gray { color: $color-gray-light; }
.bold { font-weight: 700; }

.reveal-item {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

/* Коли клас додається JS-ом, елемент плавно з'являється */
.is-visible {
  opacity: 1 !important; /* !important гарантує, що JS перекриє будь-що */
}