@use "../src/styles/variables" as *;
@use "../src/styles/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { font-size: 1vw; }

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.12;
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
  @include fluid-text(4rem, 1.11rem);
}

svg {
  @include fluid-text(5.33rem, 1.12rem);
  width: 1em;
  height: 1em;
}

.text_gray { color: $color-gray-light; }
.bold { font-weight: 700; }