@use "../src/styles/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;

  font-size: 1vw;
}

body {
  margin: 0;
  padding: 0;
  font-size: 4rem;
}
