@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.btn {
  @include button-base;
  @include fluid-text(4.26rem, 1.11rem);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  color: $color-white;

  &__icon {
    width: 5.33rem; 
    height: 5.33rem;
    transition: transform 0.3s ease;

    @include onTablet {
      width: 1.39rem; 
      height: 1.39rem;
    }
  }

  &:hover {
    .btn__icon {
      transform: translateX(1.33rem);
    }
  }

  &--hero {
    background-color: transparent;
    color: $color-white;
    border: 1px solid $color-white;
    padding: 4.26rem 8.52rem;
    gap: 3.2rem;

    @include onTablet {
      background-color: $color-primary;
      border: none;
      padding: 1.51rem 2.57rem;
      gap: 1rem;
    }
  }

  &--action {
    background-color: $color-primary;
    color: $color-white;
    padding: 4.26rem 8.53rem;
    border-radius: 266.66rem;
    gap: 3.2rem;

    &:hover {
      background-color: lighten($color-primary, 5%);
    }

    @include onTablet {
      padding: 1.51rem 2.57rem;
      gap: 1rem;
    }
  }


  &--lessons {
    background-color: transparent;
    border: 1px solid $color-white;
    padding: 4.26rem 6.4rem;
    text-transform: lowercase;

    @include onTablet {
      padding: 1.94rem;
    }
     
  }
}